/* General CSS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    background-color: white;
    min-height: 100vh;
    flex-direction: column;
    font-family: Arial;
  }

/*Left side of navigation bar*/
.brand-name{
  font-weight: bold;
  color: black;
}
.red-t{
  color: red;
}

/*The whole navigation bar */
.main-menu{
  background-color: rgba(0, 0, 0, 0.5);
  opacity: inherit;
  display: flex;
  filter: alpha(opacity=50);
  height: 60px;
  padding: 0 10px;
}
.main-menu:hover{
  background-color: rgba(0, 0, 0, 0.2);
  opacity: inherit;
  filter: alpha(opacity=20);
}
.category-search{
  display: flex;
  align-items: center;
  margin: 5px;
}
.category-search > .category{
  font-weight:bold;
  color:black;
}
.category-search > .search{
  margin-left: 80px;
}
.tutomix-instructor{
  display: flex;
  align-items: center;
  margin: 5px;
}

.tutomix-instructor > .instructor{
  margin-left: 60px;
}

.logo, .links{
  opacity: 1;
  filter: alpha(opacity=60);
}

.menu-container{
  width: 100%;
  color: #fff;  
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.menu{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo{
  display: flex;
  align-items: center;
  padding: 5px;
}
.image-logo{
  border-style:dotted;
  height:15px;
  width:15px;
  color:red;
}
.the-hr-line{
  border:none;
  border-top:3px dotted #f00;
  color:red;
  margin:auto;
  margin-top:3px;
  height:3px;
  width:47%;
}

.site-logo{
  margin-left: 10px;
}

.links{
  display: flex;
  align-items: center;
  padding: 5px;
  padding-top: 40px;
  border-radius: 3px;
}

.category:hover,
.tutomix:hover, 
.instructor:hover,
.signup:hover,
.login:hover{
  border-bottom: 3px solid red;
  cursor: pointer;
}

.login{
  margin-left: 10px;
}

/* The main page */
.site-content {
    flex: 1;
  }

/* The backgroung image */
.photo{
  background: url('/images/d234516f537e76c2e8fbd1cc1d82cfe2');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* The signup form modal form */
.modal {
  display: none;  
  position: fixed;  
  z-index: 1; left: 0; 
  top: 0; 
  width: 100%; 
  height: 100%;  
  overflow: auto;  
  background-color: rgb(0,0,0);  
  background-color: rgba(0,0,0,0.8);  
  padding-top: 60px; 
} 

.modal-content { 
  background-color: lightgray; 
  margin: 5% auto 15% auto;  
  border: 1px solid #888; 
  width: 80%;   
}

.signup-learning{
  padding-bottom:15px;
  padding-left:20px;
  padding-top:15px;
  border-bottom:2px solid black;
}

input[type=text], input[type=email], input[type=password] { 
  width: 100%; 
  padding: 12px 20px; 
  margin: 8px 0; 
  display: inline-block; 
  border: 1px solid black;
 
}

.close { 
  position: absolute; 
  right: 35px; 
  top: 15px; 
  color: red; 
  font-size: 50px; 
  font-weight: bold; 
}

.signupbtn {
  width:40%;
  background-color: red; 
  color: white; 
  padding: 14px 20px; 
  margin: 8px 0; 
  border: none; 
  cursor: pointer; 
}

.form-inputs{ 
  padding: 20px; 
}

.close:hover, 
.close:focus { 
    color: white; 
    cursor: pointer; 
} 

.signup-modal-button{
  display: flex;
  justify-content: center;
}

.terms-conditions{
  padding-bottom:15px;
  padding-top:30px;
  padding-left:20px;
  border-bottom:2px solid black;
}

.login-in-signup{
  display:flex;
  justify-content:center;
  margin:auto;
  padding-top:6px;
  height:30px;
}

/* The purple block */

.choice-section {
  display: flex;
  background-color: #F5CF8E;
}

.choice{
  background-color: magenta;
  padding: 20px;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.course{
  display: flex;
  align-items: center;
}

.course > img{
  display:flex;
  width: 35px;
  height: 35px;
  object-fit:scale-down;
  margin: auto;
  
}

/* Holds the entire body content */

.content {
  display: block;
  
}

.code-game-3D{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-bottom: 30px;
  padding: 10px;
}

a{
  text-decoration: none;
  color: black;
}

.content > .code-game-3D > .tag > a{
  color: black;
  text-decoration:none;
  padding-bottom: 3px;
}

.content > .code-game-3D > .tag > a.active, 
.content > .code-game-3D > .tag > a:hover, 
.content > .code-game-3D > .tag > a:focus {
  color: black;
  border-bottom: 3px solid red;
}

.game{
    margin-left: 80px;
}

.coding-rows-container{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.coding-rows{
  width: 1010px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.some-category{
  display: flex;
  padding-left: 140px;
  margin: 0 0 5px 0;
  font-weight: bold;
}

.row {
  display: flex;
  margin-top: 5px;
}

.long-box{
  display: flex;
  align-items : center;
  border: 1px solid #fff;
  width: 200px;
  height: 200px;
  border-radius: 8px; 
  margin-top: 2px;
}


.lang-logo{
  background-color: white;
  border: 0.5px solid gainsboro;
  width: 200px;
  height: 200px;
  border-radius: 8px;
  margin-left: 2px;
  box-shadow: 0px 8px 10px 0px grey;
}

.lang-logo:hover,
.lang-logo:focus {
  box-shadow: 6px 10px 12px 0px grey;
  
}

.lang-logo > img{
  display:flex;
  width: 90px;
  height: 90px;
  object-fit:scale-down;
  margin: auto;
}

.lang-logo > div{
  padding-left:5px;
}

.rating{
  margin-top: 12px;
  margin-bottom: 8px;
}
.rating > p > span:hover{
  margin-left: 3px;
}
.cash{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-top: 15px;
}

/*CSS consisting of load-item.html */
.main-menu-white{
  background-color: white;
  display: flex;
  height: 60px;
}
.menu-container-white{
  width: 100%;
  color: black;  
  padding: 20px 0;
  display: flex;
  align-items: center;
}
.click-path{
  display: flex;
  align-items: center;
  padding-left: 30px;
  height: 50px;
  background-color: gainsboro;
}

.lang-details{
  display: flex;
  height: 200px;
  background-color: black;
}

.lang-details > .details{
  display: block;
  width: 380px;
  padding-left: 70px;
  padding-top: 30px;
  color: white;
}

.lang-details > .details-logo{
  border-radius: 0px;
  display: flex;
  align-self: flex-end;
  background-color: white;
  width: 250px;
  height: 150px;
  margin-left: auto;
  margin-right: 70px;
}

.details-logo > img{
  display:flex;
  width: 150px;
  height: 150px;
  object-fit:scale-down;
  margin: auto;
}

.center-page{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.book-instructions{
  display: inline-table;
  background-color: white;
  font-weight: bold;
  width: 350px;
  height: 200px;
  border: 1px solid lightgrey;
  margin-top: 10px;
  margin-left: 100px;
  padding: 10px;

}

.add-to-cart{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 250px;
  height: 180px;
  border: 1px solid lightgrey;
  margin-right: 70px;

}

.cash-pay > p > span{
  color: lightgray;
  margin-left: 20px;
}
.the-cart > div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 25px;;
  color: white;
  background-color: red;
  cursor: pointer;
  border-radius: 10px;
}
.fb-twitter-mail{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-top: 0.5px solid lightgrey;
  width: 100%;
}
.fb-twitter-mail > p{
  font-weight: bold;
  margin-top: 15px;
}
.fb-twitter-mail > a > img{
  margin-top: 15px;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  object-fit:scale-down;
}

.author{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}
.author-picture{
  display: flex;
}
.author-picture > img{
  display: flex;
  width: 90px;
  height: 90px;
  object-fit: scale-down;
  margin: 0 auto auto auto;
}
.author-profile{
  width: 300px;
  margin-left: 10px;
  padding: 10px;
  padding-top: 0px;
}

/* The footer */
.footer{
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  height: 50px;
}

.footer > p{
  padding: 10px;
}

/* Mobile Styles */
@media only screen and (max-width: 414px) {
  .main-menu{
    background-color: rgba(0, 0, 0, 0.5);
    opacity: inherit;
    display: flex;
    filter: alpha(opacity=40);
    height: 150px;
    padding: 0 5px;
  }
  .the-center{
    display: inline-block;
  }
  .category-search{
    display: inline-block;
    padding: 10px;
  }
  .category-search > .search{
    margin-left: 0px;
    margin-top: 5px;
  }
  .tutomix-instructor{
    display: inline-block;
    align-items: center;
    margin: 5px;
  }
  .tutomix-instructor > .instructor{
    margin-left: 0px;
    margin-top: 5px;
  }
  .links{
    display: inline-block;
  }
 
  .login{
    margin-left: 0px;
    margin-top: 5px;
  }
  
  .fore-text{
    display: inline-block;
    margin-left: 5px;
    margin-top: 80px;
    color: white;
  }
  .choice-section {
    width: 100%;
    height: 200px;
  }
  .game{
    margin-left: auto;
}
  .course > span{
    font-size: 13px;
  }
  .coding-rows{
    width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .lang-details > .details{
    padding-right: 10px;
    padding-left: 20px;
    padding-top: 20px;
  }
  .lang-details > .details-logo{
    margin-right: 10px;
    height: 130px;
  }
  .book-instructions{
    width: 190px;
    margin-left: 10px;
    height: 150px;
  }

  .add-to-cart{
    margin-right: 10px;
    width: 153px;
    margin-left: 15px;
    height: 120px;
  }

  .some-category{
    padding-left: 25px;
  }
  .author{
    margin-left: 30px;
  }
  
  .footer{
    height: 120px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 415px) and (max-width: 767px) {
  .modal-content { 
    width: 80%;   
  }
  .content{
    margin-left: 95px;
  } 
  .photo{
    height: 380px;
  }
  .main-menu{
    background-color: rgba(0, 0, 0, 0.5);
    opacity: inherit;
    display: flex;
    filter: alpha(opacity=50);
    height: 100px;
    padding: 0 10px;
  }
  .category-search > .search{
    margin-left: 30px;
  }
  .tutomix-instructor > .instructor{
    margin-left: 30px;
  }
  .fore-text{
    display: inline-block;
    margin-top: 150px;
    margin-left: 30px;
    font-size: 1.4em;
    color: white;
  }
  .choice-section {
      width: 100%;
      height: 180px;
  }
  .course{
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: 10px;
  }
  .course > span{
    margin-left: 5px;
  }
  .book-instructions{
    margin-top: 10px;
    margin-left: 0px;
  
  }
  .some-category{
    padding-left: 0px;
  }
  .content{
    margin-left: 20px;
  }
  .lang-details > .details-logo{
    margin-right: 10px;
    width: 250px;
  }
  .lang-details > .details{
    padding-left: 20px;
  }
  .add-to-cart{
    margin-left: 10px;
    margin-right: 10px;
    height: 150px;
    width: 250px;
  }
  
  .footer{
    height: 60px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 768px) {
  .modal-content { 
    width: 40%;   
  }
  .links{
    padding-top: 0px;
  }
  .photo{
    height: 600px;
  }
  .the-center{
    display: flex;
  }
  .tutomix-instructor{
    margin-left: 40px;
  }
  .fore-text{
    display: inline-block;
    margin-top: 370px;
    margin-left: 100px;
    font-size: 1.4em;
    color: white;
  }
  .choice-section{
      width: 100%;
      height: 80px;
  }
  .course{
    display: flex;
    align-items: center;
    margin: 5px;
  }
  .course > span{
    margin-left: 5px;
  }
  .online-courses{
    margin-left: 60px;
  }
  .offline-download{
    margin-right: 60px;
  }
  .coding-rows-container{
    margin-left: 70px;
  }
  .lang-details > .details{
    width: 380px;
    padding-left: 95px;
  }

  .book-instructions{
    width: 400px;
    border: 1px solid lightgrey;
    margin-top: 10px;
    margin-left: 10px;
    height: 260px;
  
  }
  .lang-details > .details-logo{
    width: 300px;
    height: 180px;
    margin-right: 50px
    
  }
  .add-to-cart{
    width: 300px;
    height: 200px;
    margin-right: 50px;
  }
  .some-category{
    display: flex;
    padding-left: 170px;
    margin: 0 0 5px 0;
    font-weight: bold;
  }

  .author{
    margin-left: 80px;
  }

}